@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.navbar-bg, .hero-bg{
  background-color: #e1ccbe;
}
.button-text{
  color: #e1ccbe;
}

@font-face {
  font-family: 'Gopher';
  src: local('Gopher Medium'), local('Gopher-Medium'),
      url('../font/Gopher-Medium.woff2') format('woff2'),
      url('../font/Gopher-Medium.woff') format('woff'),
      url('../font/Gopher-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 10px;
}